



.dialog-title{
    position:relative;
    padding-right:40px;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}


.view-workout h4{
    margin-top:0px;
}