<div class="dialog-title">
    <h2 mat-dialog-title>{{ 'History' | translate }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="history">
    <mat-nav-list class="history__history-list">
        @for (workout of exercise.history; track workout.assigneddate) {
            <a mat-list-item (click)="copyWorkout(workout.assigneddate, workout)">
                <h3 matLine>{{ formatDate(workout.assigneddate) }}</h3>
                <p matLine>
                  {{ workout.sets.length }} {{ 'set' | translate }}@if (workout.sets.length !== 1) {<span>s</span>} /
                  {{ getAverageReps(workout.sets) | number: '1.0-0' }} {{ 'reps' | translate }} / 
                  {{ getAverageWeight(workout.sets) | number: '1.0-0' }}{{ getUnits(workout.sets) }}
                </p>                        
                <mat-icon matListIcon>file_copy</mat-icon>
            </a>
        }
        
        @if (exercise.canGetMoreHistory) {
            <a 
                mat-list-item 
                (click)="loadMoreHistory()" 
                class="history__load-more"
                [class.history-loading]="exercise.historyLoading">
                {{ 'Load More History' | translate }}
                @if (exercise.historyLoading) {
                    <mat-spinner diameter="15" mode="indeterminate" color="primary"></mat-spinner>
                }
            </a>
        }
    </mat-nav-list>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Close' | translate }}</button>
</mat-dialog-actions>
