.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}

.purchase-premium{
    .purchase-premium__product{
        background-color: var(--primary-color);
        color: var(--mat-sys-on-primary);
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
        margin-top:5px;
        padding: 30px 10px;   
        border-radius:4px;
        position:relative;
        overflow:visible;
        
        h2{
            margin:0px;
        }
        p{
            margin:0px;
        }
        
        mat-icon{
            position: absolute;
            top: -5px;
            right: -5px;
            background-color: rgb(117, 117, 117);
            border-radius: 50%;
        }
    }
    
    h4{
        margin-bottom: 10px;
        margin-top: 35px;
    }
        
    mat-form-field{
        width:100%;
        margin-top:0px;
    }
    
    ngx-stripe-card .field{
        border-bottom: 1px solid var(--divider-color);
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    &.purchase-premium--purchasing{
        mat-form-field, ngx-stripe-card{
            pointer-events:none;
            opacity:0.5;
        }
    }
    
    button .mat-spinner{
        display:inline-block;
        margin-left:5px;
    }    
}
