<div class="dialog-title">
    <h2 mat-dialog-title>{{ 'Change Email' | translate }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="change-email">
    <mat-form-field>
        <mat-label>{{ 'New Email' | translate }}</mat-label>
        <input matInput type="email" [(ngModel)]="user.new_email">
    </mat-form-field> 
<!--     
    <mat-form-field>
        <mat-label>{{ 'Confirm Email' | translate }}</mat-label>
        <input matInput type="email" [(ngModel)]="user.confirm_email">
    </mat-form-field>     --> 
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Close' | translate }}</button>
    <button mat-button (click)="change()" color="primary">{{ 'Change' | translate }}</button>
</mat-dialog-actions>
