.dialog-title{
    position:relative;
    padding-right:40px;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}

.workout-pool{
    .workout-pool__loading{
        margin-top:60px;
        margin-bottom:60px;
        mat-spinner{
            margin:0 auto;     
        }                
    }    
    
    
    .workout-pool__program__name.mat-mdc-subheader{
        background-color: var(--primary-color, #d44735);
        color: white;
        margin: 0px;
        padding: 5px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0px;
        font-weight:500;
        font-size:16px;
        line-height:1.2;
        white-space:nowrap;
        
        button{
            display: inline-block;
            margin-left: auto;     
            color:White;       
        }
    } 
    
    
    .workout-pool__program__workouts{
        padding: 0px 20px;
        
        .workouts__actions{
            text-align: center;
            margin-top: 20px;    
            button{
                margin:0px 3px;
            }
        }
        
        > h5{
            margin: 0px;
            font-size: 16px;
            margin-top: 25px;
            margin-bottom: 10px;            
        }
    }
    
    .workouts__workouts-list{
        button{
            margin: 0px 5px;
            font-size: 12px;
            line-height: 30px;
            padding: 0px 12px;
            height: 32px; 
            width:140px;
        }  
            
        mat-list-item {
            cursor: pointer;
            transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
            
            &:hover {
                background-color: var(--hover-color, rgba(0, 0, 0, 0.04));
            }

            .mat-mdc-list-item-meta{
                align-self:center;
            }
        }      
    }
}
