.dialog-title{
    position:relative;
    padding-right:40px;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}

.add-exercise{
    
    .add-exercise__search{
        width:100%;
    }
    
    .add-exercise__nav{
        a{
            cursor:pointer;
            text-decoration: underline;
            color: var(--primary-color);
        }
    }
    
    .exercise-categories{
        .exercise-category{
            cursor: pointer;
            &:hover{
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }
    
    .category-view{
        .category-header{
            padding: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            
            h3{
                margin: 15px 0 0px 0;
                font-size: 18px;
                font-weight: 500;
            }
            
   
        }
    }
    
    .exercise-list{
        .exercise-list__add-exercise{
            text-align:center;
            margin-top:10px;
            margin-bottom:10px;
            
            button{
                margin-top:5px;
            }
        }
    }
}