.points-calculator{

    .dialog-title{
        position:relative;
        mat-icon{
            cursor:pointer;
            position:absolute;
            top:20px;
            right:20px;
        }
    }

    mat-form-field.full-width{
        width:100%;
    }


    .points-calculator__info{
        margin-bottom: 5px;
    }

    .points-calculator__results{
        margin-inline: 15px;
        border: 1px solid #e1e1e0;
        border-radius: 15px;
        padding: 10px;
        margin-top:25px;
        margin-bottom:30px;
        position:relative;
        .points-calculator__results__result{
            text-align: center;
        }
    }
}