.create-program-extra-actions{
    position:absolute;
    top:20px;
    right:40px;
}

@media only screen and (max-width:999px){
    .create-program-extra-actions{
        display:none;
    }
}

.create-program{
    max-width: 820px;
    position: relative;
    margin-top: 20px;
    padding: 50px 40px;
    margin: 0 auto;
    padding-bottom: 60px;
        
        .create-program__loading{
            margin-top:60px;
            mat-spinner{
                margin:0 auto;     
            }                
        }         
        
        .create-program__header{
            max-width:600px;
            margin:0 auto;
            margin-bottom:40px;
 
            
   
            
            mat-form-field{
                width:100%;
            }
        }
        
        
        .create-program__tabs{
            text-align:center;
            
            .create-program__tabs__tab{
                display:inline-block;
                position:relative;
                .tab__actions{
                    
                    display:none;
                    position: absolute;
                    bottom: -25px;
                    white-space: nowrap;
                    left: -25px;
                    width: 120px;
                    text-align: center;
                    background-color: var(--surface-color);
                    z-index: 1;
                    border-radius: 4px;
                    align-items:center;
                    justify-content: center;
                    gap:3px;
                    
                    button{
                        --mat-icon-button-state-layer-size: 30px;
                        mat-icon{
                            font-size:14px;
                            width:14px;
                            height:14px;
                                line-height: 12px;
                        }
                    }
                    
                }
                
                &:hover .tab__actions{ 
                    display:flex;
                    pointer-events:all;
                }
      
            }
            
            > button, .create-program__tabs__tab > button{
                margin: 5px 3px;
                font-size: 12px;
                line-height: 30px;
                padding: 0px 12px;
                height: 32px;   
                white-space:nowrap;         
            }            
            
        }   
        
        
        .create-program__program-workouts{
            margin: 0 auto;
            margin-top: 25px;
            
            

            
            
           
        }        
        
        
        .create-program__add-workout{
            border: 3px dashed var(--primary-color);
            color: var(--primary-color);
            text-align: center;
            padding: 40px 10px;
            border-radius: 14px;
            opacity: 0.5;
            cursor: pointer;
            font-size: 20px;
            margin-top: 50px;
            margin-bottom: 50px;
            transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;


            &:hover{
                opacity: 1;
            }
            
        }
        
        
        
        .create-program__actions{
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            text-align: center;
            z-index: 10;
            
            .create-program__actions__inner{
                width: 100%;
                max-width: 820px;
                margin: 0 auto;
                background-color: var(--surface-color, #ffffff);
                padding: 15px 0;
                border-top-right-radius: 14px;
                border-top-left-radius: 14px;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07), 0 0 0 1px 
                color-mix(in srgb, var(--mat-sidenav-content-text-color) 4%, transparent);
                
                button{
                    margin:0 3px;
                    
                    .button-spinner {
                        filter: grayscale(1) brightness(100);
                        display:inline-block;
                        margin-left:5px;
                    }                    
                    
                }
                
            }
            
        }






        
        &.program--is-dialog{
            .program__actions{
                display:none;
            }
        }
        
        
}





.create-program__program-workouts__workout-list{

    margin-bottom: 20px;
    background-color: var(--surface-color);
    
    .mat-list-base .mat-list-base{
        padding-top: 0px;
    }

    mat-list-item {
        cursor: pointer;
        transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
        
        &:hover {
            background-color: var(--hover-color, rgba(0, 0, 0, 0.04));
        }

        .mat-mdc-list-item-meta{
            align-self:center !important;
        }

    }


    .mat-mdc-subheader,
    h3[mat-subheader] {
        background-color: var(--primary-color, #d44735);
        color: white;
        margin: 0px;
        padding: 5px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0px;
        font-weight:500;
        font-size:16px;
        line-height:1.2;
        white-space:nowrap;
        
        span {
            flex: 1;
            transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1);
            
            &:hover {
                opacity: 0.9;
            }
        }

        .cdk-drag-handle{
            cursor:grab;
        }
        
        button {
            margin-left: auto;
            color: white;
            
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
    
    .workout-list__notes {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        margin-top:8px;
        
        > button {
            margin: 0;
        }
        
        mat-form-field {
            flex: 1;
            margin-bottom: 8px;


        }
        
        button[mat-icon-button] {
            margin-top: 8px;
        }
    }




    .workout-list__add-exercise{
        margin-top:10px;
    }


}



mat-list-item.workout-list__exercise{
    background-color: var(--surface-color);
    h2, p{
        cursor: grab;
    }
    .workout-list__exercise__actions{
        margin-left: auto;
        white-space: nowrap;
        button{
            margin: 0px 3px;
        }
    }

    .mat-list-item-content .mat-list-text{
        padding-left: 0px;
    }
}


/* drag and drop styles */

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0),
                0 8px 10px 1px rgba(0, 0, 0, 0),
                0 3px 14px 2px rgba(0, 0, 0, 0);

    
    .tab__actions{
        display:none;
    }
    
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.create-program__tabs__tab{
    overflow:visible;
}
            
.create-program__tabs__tab > button{
    margin: 5px 3px;
    font-size: 12px;
    line-height: 30px;
    padding: 0px 12px;
    height: 32px; 
    white-space:nowrap;    
}