<div class="dialog-title">
    <h2 mat-dialog-title>{{ 'Edit Set' | translate }}</h2>
    <span class="delete-set" (click)="deleteSet()">{{ 'Delete Set' | translate }}</span>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="edit-set">
    @if (set.is_overall_record && recordSet.reps == set.reps && recordSet.weight == set.weight) {
        <div class="edit-set__set-record" (click)="openRecordHistory()">
            <mat-icon svgIcon="trophy"></mat-icon>
            {{ 'This set is a new' | translate }} {{ recordSet.reps }}{{ 'RM' | translate }} {{ 'record' | translate }}!
        </div>
    }
    
    <mat-form-field>
        <mat-label>{{ 'Reps' | translate }}</mat-label>
        <input matInput type="number" [(ngModel)]="set.reps">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>{{ 'Weight' | translate }}</mat-label>
        <input matInput type="number" [(ngModel)]="set.weight">
        @if (set.weight) {
            <button mat-icon-button matSuffix 
                    class="edit-set__plates"
                    (click)="openPlateCalculator()" 
                    [attr.aria-label]="'Open plate calculator' | translate"
                    type="button">
                <mat-icon svgIcon="plates"></mat-icon>
            </button>
        }
    </mat-form-field>

    <mat-checkbox [(ngModel)]="set.updateAll" color="primary" class="edit-set__mass-edit">
        {{ 'Update reps & weight for all sets' | translate }}
    </mat-checkbox>    
    
    <mat-form-field class="edit-set__extra-action">
        <mat-label>{{ 'Intensity (%)' | translate }}</mat-label>
        <input matInput type="number" [(ngModel)]="set.percentage">
        <button mat-button matSuffix color="primary" (click)="calculatePercentage()">
            {{ 'Calculate' | translate }}
        </button>
    </mat-form-field>

    <div class="edit-set__rpe">
        <div class="edit-set__rpe__header">
            <span class="edit-set__rpe__title" (click)="editRpe()">
                {{account && account.intensity_scale === "rir" ? "RIR" : "RPE"}}
                <mat-icon>edit</mat-icon>
            </span>
        </div>

        <div class="edit-set__rpe__selection">
            @for (rpeOption of rpeOptions; track rpeOption) {
                <div class="edit-set__rpe__selection__option" 
                     [class.edit-set__rpe__selection__option--selected]="set.rpe === rpeOption"
                     (click)="set.rpe = (set.rpe === rpeOption ? null : rpeOption)">
                    {{account && account.intensity_scale === "rir" ? (10 - rpeOption) : rpeOption}}
                </div>
            }
        </div>

        @if (set.rpe) {
            <div class="edit-set__rpe__explanation">
                {{getRpeExplanation()}}
            </div>
        }
    </div>
    
    <mat-form-field>
        <mat-label>{{ 'Set Type' | translate }}</mat-label>
        <mat-select [(ngModel)]="set.type">
            <mat-option value="">{{ 'Normal' | translate }}</mat-option>
            <mat-option value="amrap">AMRAP</mat-option>
            <mat-option value="w">{{ 'Warmup' | translate }}</mat-option>
            <mat-option value="bs">{{ 'Backoff Set' | translate }}</mat-option>
            <mat-option value="ss">{{ 'Super Set' | translate }}</mat-option>
            <mat-option value="ds">{{ 'Drop Set' | translate }}</mat-option>
            <mat-option value="c">{{ 'Circuit' | translate }}</mat-option>
            <mat-option value="bw">{{ 'Bodyweight' | translate }}</mat-option>
        </mat-select>
    </mat-form-field>    

    <mat-form-field>
        <mat-label>{{ 'Notes' | translate }}</mat-label>
        <textarea matInput [(ngModel)]="set.notes" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
    </mat-form-field>  
    
    <mat-form-field class="edit-set__extra-action">
        <mat-label>{{ 'Video' | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="set.video">
        @if (set.video) {
            <button mat-button matSuffix color="primary" (click)="viewVideo()">          
                {{ 'View' | translate }}
            </button>    
        }     
        <button mat-button matSuffix color="primary" (click)="uploadVideo()">
            @if (!account.premium) {
                <mat-icon matListItemIcon class="premium-icon" fontSet="material-symbols-outlined">crown</mat-icon>
            }            
            {{ 'Upload' | translate }}
        </button>
        <input id="videoFile" name="videoFile" hidden required type="file" accept="video/*" (change)="videoFileChangeListener($event)">
    </mat-form-field>  
    
    <mat-accordion displayMode="flat" [multi]="true" class="edit-set__more-options">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'More Options' | translate }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <mat-form-field>
                <mat-label>{{ 'Rest Time (s)' | translate }}</mat-label>
                <input matInput type="number" [(ngModel)]="set.rest">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>{{ 'Distance (m)' | translate }}</mat-label>
                <input matInput type="number" [(ngModel)]="set.distance">
            </mat-form-field>            
            
            <mat-form-field>
                <mat-label>{{ 'Set Duration/Time (s)' | translate }}</mat-label>
                <input matInput type="number" [(ngModel)]="set.time">
            </mat-form-field> 
            
            <mat-form-field>
                <mat-label>{{ 'Unit' | translate }}</mat-label>
                <mat-select [(ngModel)]="set.unit">
                    <mat-option value="kg">kg</mat-option>
                    <mat-option value="lbs">lbs</mat-option>
                </mat-select>
            </mat-form-field>             

            <mat-form-field>
                <mat-label>{{ 'Distance Unit' | translate }}</mat-label>
                <mat-select [(ngModel)]="set.distanceunit">
                    <mat-option value="cm">cm</mat-option>
                    <mat-option value="inches">{{ 'inches' | translate }}</mat-option>
                    <mat-option value="ft">ft</mat-option>
                    <mat-option value="m">m</mat-option>
                    <mat-option value="km">km</mat-option>
                    <mat-option value="miles">{{ 'miles' | translate }}</mat-option>
                </mat-select>
            </mat-form-field> 
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'Cancel' | translate }}</button>
  <button mat-button (click)="add()" color="primary">{{ 'Save' | translate }}</button>
</mat-dialog-actions>
