<app-login-container>
    <h3>{{ 'Reset Password' | translate }}</h3>
    <p>{{ 'Fill out the form below to reset your password.' | translate }}</p>

    <form #form="ngForm" (ngSubmit)="resetPassword(form.value)">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'Email' | translate }}</mat-label>
            <input 
                matInput 
                type="email" 
                name="email" 
                ngModel 
                required 
                email>
        </mat-form-field>

        @if (errors().length > 0) {
            <p class="errors">
                @for (error of errors(); track error) {
                    <span>{{ error }}</span>
                }
            </p>
        }

        <div class="login-form__actions">
            <button 
                mat-flat-button 
                color="primary" 
                [disabled]="loading()">
                {{ 'Reset Password' | translate }}
                @if (loading()) {
                    <mat-spinner class="button-spinner" diameter="14" mode="indeterminate" color="primary"></mat-spinner>
                }
            </button>

            <a routerLink="/login">{{ 'Back To Login' | translate }}</a>
        </div>

        <div class="login-form__secondary-actions">
            <a routerLink="/register">{{ 'Register for an account' | translate }}</a>
        </div>
    </form>
</app-login-container>

