<div class="dialog-title">
    <h2 mat-dialog-title>{{ 'Add Program' | translate }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="add-program-list">
    <mat-form-field class="add-program-list__search">
        <input matInput type="text" [placeholder]="'Search programs' | translate" [(ngModel)]="properties.search">
        @if (properties.search) {
            <button mat-button matSuffix mat-icon-button [attr.aria-label]="'Clear' | translate" (click)="properties.search = ''">
                <mat-icon>close</mat-icon>
            </button>
        }
    </mat-form-field>
    
    <mat-tab-group class="add-program-list__nav" [selectedIndex]="properties.selectedTab">
        <mat-tab [label]="'Recommended' | translate">
            <mat-nav-list>
                @for (recommendedProgram of recommendedPrograms | exerciseSearch:properties.search; track recommendedProgram.id) {
                    <mat-list-item (click)="selectProgram(recommendedProgram)">
                        {{ recommendedProgram.name }}
                        <mat-icon matListIcon>chevron_right</mat-icon>
                    </mat-list-item>
                }
            </mat-nav-list>            
        </mat-tab>
        
        <mat-tab [label]="('Recent' | translate) + (recentPrograms.length > 0 ? ' (' + recentPrograms.length + ')' : '')">
            <mat-nav-list>
                @for (recentProgram of recentPrograms | exerciseSearch:properties.search; track recentProgram.id) {
                    <mat-list-item (click)="selectProgram(recentProgram)">
                        {{ recentProgram.name }}
                        <mat-icon matListIcon>chevron_right</mat-icon>
                    </mat-list-item>
                }
            </mat-nav-list>             
        </mat-tab>
        
        <mat-tab [label]="('All Programs' | translate) + (programs.length > 0 ? ' (' + numberWithCommas(programs.length) + ')' : '')">
            <mat-nav-list class="program-list">
                @for (program of programs | exerciseSearch:properties.search | slice:0:properties.programLimit; track program.id; let i = $index) {
                    <mat-list-item (click)="selectProgram(program)">
                        {{ program.name }}
                        <mat-icon matListIcon>chevron_right</mat-icon>
                    </mat-list-item>
                }

                @if (canLoadMorePrograms()) {
                    <a mat-list-item (click)="loadMorePrograms()">
                        {{ 'Load More Programs' | translate }}
                    </a>
                }
                
                @if (properties.search) {
                    <div mat-list-item class="program-list__add-program">
                        {{ 'Can\'t find the right program?' | translate }}<br> 
                        <button mat-flat-button color="primary" (click)="dismiss()" [routerLink]="['/programs/create']">
                            {{ 'Create A Program' | translate }}
                        </button>
                    </div>
                }
            </mat-nav-list>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'Dismiss' | translate }}</button>
</mat-dialog-actions>
