<div class="dialog-title">
    <h2 mat-dialog-title>{{ set.name }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="view-note">
    <div class="view-note__subtitle">
        {{ formatDate(set.assigneddate) }}
    </div>
    
    <div class="view-note__content">
        {{ set.notes }}
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Close' | translate }}</button>
    <a mat-button color="primary" [routerLink]="['/diary/' + set.assigneddate]" target="_blank">
        {{ 'Go To Date' | translate }}
    </a>
</mat-dialog-actions>
