<div class="dialog-title">
    <h2 mat-dialog-title>{{ 'Update Maxes' | translate }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="update-maxes">
    @if (loading) {
        <div class="update-maxes__loading">
            <mat-spinner diameter="50" mode="indeterminate" color="primary"></mat-spinner>
        </div>
    }
    
    @if (!loading) {
        <div>
            @for (exercise of exercises; track exercise.exerciseid) {
                <mat-form-field class="update-maxes__maxes__exercise">
                    <mat-label>{{ maxes[exercise.exerciseid].name }}</mat-label>
                    <input 
                        matInput 
                        type="number" 
                        [(ngModel)]="maxes[exercise.exerciseid].max" 
                        (ngModelChange)="calculateMaxes()">
                </mat-form-field>
            }

            <a (click)="showCalculator = !showCalculator">{{ '1RM Calculator' | translate }}</a>

            @if (showCalculator) {
                <div class="update-maxes__maxes__calculator">
                    <mat-form-field>
                        <mat-label>{{ 'Reps' | translate }}</mat-label>
                        <input matInput name="reps" type="number" [(ngModel)]="calculator.reps">
                    </mat-form-field>            
                    <mat-form-field>
                        <mat-label>{{ 'Weight' | translate }}</mat-label>
                        <input matInput name="weight" type="number" [(ngModel)]="calculator.weight">
                    </mat-form-field> 

                    <p>{{ 'Estimated Max' | translate }}: {{ getMax() | number:'1.0-2' }}{{ account.units }}</p>    
                </div>
            }
        </div>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Cancel' | translate }}</button>
    <button mat-button (click)="update()" color="primary">{{ 'Update' | translate }}</button>
</mat-dialog-actions>
