



.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}


.edit-profile{

    mat-form-field{
        width:100%;
    }

}


