.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}

.change-units{
    p{
        padding: 0px;
        margin: 0px;
        margin-bottom: 20px;
    }
    
    mat-checkbox{
        width: 100%;
        display: block;
        margin: 10px 0px;
    }
}
