.dialog-title{
    position:relative;
    padding-right:40px;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}

.add-set{
    mat-form-field{
        width:100%;
    }


    .add-set__plates{
        mat-icon{
            --mat-icon-button-icon-size:20px;
            margin-left:3px;
            opacity:0.5;
        }
    }

}