<div class="dialog-title">
    <h2 mat-dialog-title>{{ 'Change Password' | translate }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="change-password">
    <mat-form-field>
        <mat-label>{{ 'Current Password' | translate }}</mat-label>
        <input matInput type="password" [(ngModel)]="user.current_password">
    </mat-form-field>    

    <mat-form-field>
        <mat-label>{{ 'New Password' | translate }}</mat-label>
        <input matInput type="password" [(ngModel)]="user.new_password">
    </mat-form-field> 
    
    <mat-form-field>
        <mat-label>{{ 'Confirm Password' | translate }}</mat-label>
        <input matInput type="password" [(ngModel)]="user.confirm_password">
    </mat-form-field>     
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Close' | translate }}</button>
    <button mat-button (click)="change()" color="primary">{{ 'Change' | translate }}</button>
</mat-dialog-actions>
