



.dialog-title{
    position:relative;
    padding-right:40px;
    
    .dialog-title__reset {
        position:absolute;
        top:16px;
        right:60px;
    }
    
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}


.select-exercise{
    
    .select-exercise__search{
        width:100%;
    }
    
        mat-icon{
            order: 10;
            flex: 1;
            text-align: right;
            opacity:0.2;            
        }     
    
}