<div class="dialog-title">
    <h2 mat-dialog-title>{{ 'Stats' | translate }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="stats">
    <app-exercise-chart 
        [exercise]="exercise" 
        [user]="account"
        [shouldLoad]="1">
    </app-exercise-chart>
    
  
        <div class="stats__notes-stats" (click)="openNotes()">
            <mat-icon fontSet="material-symbols-outlined">book_2</mat-icon>
            <div class="stats__notes-stats__inner">
                <h4>{{ notesCount() }} {{ 'notes' | translate }} & {{ videosCount() }} {{ 'videos' | translate }}</h4>
                <p>{{ 'Tracked against sets in your diary' | translate }}</p>
            </div>
            <mat-icon class="stats__notes-stats__arrow">chevron_right</mat-icon>
        </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Close' | translate }}</button>
</mat-dialog-actions>
