.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}

.stats{
    .stats__notes-stats{
        background-color: var(--primary-color);
        color: var(--mat-sys-on-primary);
        padding: 20px 30px;
        border-radius: 4px;  
        margin:25px 0px;
        cursor:pointer;
        
        display:flex;
        flex-direction:row;
        transition:opacity .2s cubic-bezier(.35,0,.25,1);
        
        &:hover{
            opacity:0.8;
        }
        
        mat-icon{
            font-size:40px;
            width:40px;
            height:40px;
        }
        
        .stats__notes-stats__inner{
            flex:1;
            padding-left: 20px;
                
            h4{
                margin:0px;
                font-weight:500;
            }
            p{
                margin:0px;
                opacity:0.6;
            }
        }
    }
}

@media screen and (max-width:480px){
    .stats .stats__notes-stats mat-icon{
        display:none;
    }
    .stats .stats__notes-stats .stats__notes-stats__inner{
        padding-left:0px;
    }    
}
