.dialog-title{
    position:relative;
    padding-right:40px;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}

.view-pooled-workout{
    .view-pooled-workout__loading{
        margin-top:60px;
        margin-bottom:60px;
        mat-spinner{
            margin:0 auto;     
        }                
    }     
    
    .mat-list-base{
        padding-top:0px;
    }
}
