
.dialog-title{
    position:relative;
    padding-right:40px;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
        z-index: 1;
    }
}


.mat-mdc-dialog-container .mat-mdc-dialog-content.view-premium{

    padding: 0px;
}