<div class="messages">
    <div class="messages__conversations">
        
        <div class="messages__actions">
            <button mat-flat-button color="primary" (click)="createConversation()">
                {{ 'New Conversation' | translate }}
            </button>
        </div>   
        <mat-list class='messages__conversation-list'>
            @for (conversation of conversations(); track trackConversation($index, conversation); let i = $index) {
                <mat-list-item 
                    (click)="openConversation(i)"
                    [class.selected]="i === selectedConversation()"
                    [class.requires-reply]="conversation.userid !== account().id">
                    <img matListItemAvatar [src]="getDp(conversation.profile.dp)" [alt]="conversation.profile.display || conversation.profile.username">
                    <span matListItemTitle>{{ conversation.profile.display || conversation.profile.username }}                        
                        <span class="messages__conversation-list__conversation-date">{{ getMessageTime(conversation.created) }}</span>
                    </span>
                    <span matListItemLine>{{ conversation.message }}</span>
                </mat-list-item>
            }
        </mat-list>
    </div>
    
    <div class="messages__sent-messages">
        @if (properties().messagesLoading) {
            <div class="messages__sent-messages__loading">
                <mat-spinner diameter="50" mode="indeterminate" color="primary"></mat-spinner>
            </div>
        }
        
        @if (!properties().messagesLoading && messages().length < 1) {
            <div class="messages__sent-messages__empty">
                <mat-icon fontSet="material-icons-outlined">message</mat-icon>
                <h2>{{ 'No Messages' | translate }}</h2>
            </div>
        }

        @if (!properties().messagesLoading && messages().length > 0) {
            <mat-list id="message-list" class='messages__sent-messages__message-list message-list' #scrollBottom>
                @for (message of messages(); track trackMessage($index, message); let i = $index) {
                    <mat-list-item 
                        (click)="message.showTime = !message.showTime"
                        [class.to-message]="message.userid === account().id"
                        [class.from-message]="message.userid !== account().id"
                        [class.before]="message.isBefore"
                        [class.after]="message.isAfter"
                        [class.show-time]="message.showTime">
                        @if (message.userid !== account().id) {
                            <img matListItemAvatar [src]="getDp(selectedProfile().dp)" [alt]="selectedProfile().display || selectedProfile().username">
                        }
                        <p matListItemTitle
                            [matTooltip]="getExactMessageTime(message.created)"
                            [matTooltipPosition]="message.userid !== account().id ? 'right' : 'left'">
                            {{ message.message }}
                        </p>
                    </mat-list-item>
                }
            </mat-list>
        }
        
        @if (!properties().messagesLoading && conversations().length > 0) {
            <form class="messages__sent-messages__new-message new-message" (ngSubmit)="sendMessage()">
                <mat-form-field>
                    <textarea 
                        matInput 
                        [placeholder]="'Type a message...' | translate"
                        [ngModel]="message()"
                        (ngModelChange)="message.set($event)"
                        name="message"
                        cdkTextareaAutosize 
                        cdkAutosizeMinRows="1">
                    </textarea>
                </mat-form-field>
                <button mat-button color="primary" type="submit">
                    {{ 'Send' | translate }}
                </button>
            </form>
        }
    </div>
</div>