<div class="dialog-title">
    <h2 mat-dialog-title>{{ 'Notes & Videos' | translate }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="notes">
    @if (notes.notesLoading) {
        <div class="notes__loading">
            <mat-spinner diameter="40" mode="indeterminate" color="primary"></mat-spinner>
        </div>
    }
    
    @if (!notes.notesLoading) {
        <mat-nav-list class="notes__notes-list">
            @for (diary of notes.notes; track diary.assigneddate) {
                <div>
                    <h3 matSubheader>{{ formatDate(diary.assigneddate) }}</h3>
                    
                    @for (set of diary.sets; track set.id) {
                        @if (set.notes || set.video) {
                            <a mat-list-item (click)="openNote(set)">
                                <span matListItemTitle>{{ set.name }}</span>
                                <span matListItemLine>{{ set.weight ? set.weight : 0 }}{{ set.unit }}, {{ set.reps }} {{ 'rep' | translate }}@if (set.reps !== '1') {<span>s</span>}@if (set.percentage && set.percentage > 0) {<span>, {{ set.percentage }}%</span>}@if (set.rpe && set.rpe > 0) {<span>, @{{ set.rpe }}RPE</span>}</span>    
                                @if (set.notes) {
                                    <span matListItemLine>{{ set.notes }}</span>
                                }
                                @if (set.video) {
                                    <a mat-flat-button matSuffix color="primary" [href]="set.video" target="_blank" (click)="viewVideo($event)">
                                        {{ 'View Video' | translate }}
                                    </a>
                                }
                            </a>
                        }
                    }
                </div>
            }
            
            @if (notes.canloadmore) {
                <a 
                    mat-list-item 
                    (click)="loadMoreNotes()" 
                    class="notes__load-more"
                    [class.notes-loading]="notes.notesLoadingMore">
                    {{ 'Load More Notes' | translate }}
                    @if (notes.notesLoadingMore) {
                        <mat-spinner diameter="15" mode="indeterminate" color="primary"></mat-spinner>
                    }
                </a>
            }
        </mat-nav-list>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Close' | translate }}</button>
</mat-dialog-actions>
