



.dialog-title{
    position:relative;
    padding-right:40px;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}


.notes{

    &.mat-mdc-dialog-content{
        padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    }
    
    .notes__loading{
        text-align:Center;
        margin-top:0px;
        margin-bottom:5px;
        mat-spinner{
            margin:0 auto;
        }
    }    
    
    
    
    .notes__notes-list{

        padding-top:0px;

        
        p{
            opacity:0.8;
        }

        &.mat-mdc-nav-list .mat-mdc-list-item{
            border-radius: 0px;
            height: auto;
            padding-bottom: 15px;

            &.mdc-list-item__secondary-text{
                white-space: normal;
            }
        }
        
        a.mat-flat-button{
            font-size: 12px;
            padding: 0 10px;
            line-height: 30px;
            min-width: 78px;
        }        

        
        a.notes__load-more{
            cursor:pointer;
            text-decoration: underline;
            color:#d44735;
            
            &.notes-loading{
                pointer-events:none;
                opacity:0.4;
            }

            
            mat-spinner{
                margin-left:5px;
                display:inline-block;
            }
        }        
        
    }
}

