<div class="dialog-title">
    <h2 mat-dialog-title>{{ 'Records' | translate }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="records">
    <mat-tab-group class="records__nav">
        @if (!exercise.recordsPage) {
            <mat-tab [label]="'Today' | translate">
                <div class="records__highlight records__highlight--red-background">
                    <mat-icon fontSet="material-icons-outlined">emoji_events</mat-icon>
                    <h2>{{ localRecords.estimatedMax }}{{ account.units }}</h2>
                    <p>{{ 'Estimated session max' | translate }}</p>
                </div>
                
                <div class="records__record  record">
                    <div class="record__bar-text">
                        {{ localRecords.maxReps }} {{ 'rep' | translate }}@if (localRecords.maxReps !== 1) {<div class="unit">s</div>}<span> {{ 'with' | translate }} {{ exercise.records.amrap.weight }}{{ account.units }} / {{ exercise.records.amrap.reps }} {{ 'lifetime best' | translate }}</span>
                    </div>
                    <div class="record__records-bar">
                        <div 
                            class="record__records-bar__current-bar" 
                            [class.completed]="localRecords.maxReps >= exercise.records.amrap.reps"
                            [style.width.%]="(localRecords.maxReps / exercise.records.amrap.reps) * 100">
                        </div>
                    </div>
                </div>

                <div class="records__record record">
                    <div class="record__bar-text">
                        {{ localRecords.maxWeight }}{{ account.units }}<span> {{ exercise.records.overall.rep }} {{ 'rep max' | translate }} / {{ exercise.records.overall.max }}{{ account.units }} {{ 'lifetime best' | translate }}</span>
                    </div>
                    <div class="record__records-bar">
                        <div 
                            class="record__records-bar__current-bar"
                            [class.completed]="localRecords.maxWeight >= exercise.records.overall.max"
                            [style.width.%]="(localRecords.maxWeight / exercise.records.overall.max) * 100">
                        </div>
                    </div>
                </div>

                <div class="records__record  record">
                    <div class="record__bar-text">
                        {{ localRecords.currentVolume }}{{ account.units }} <span>{{ 'volume' | translate }} / {{ exercise.records.backoffs.best }}{{ account.units }} ({{ exercise.records.overall.rep }} {{ 'rep' | translate }}) {{ 'lifetime best' | translate }}</span>
                    </div>
                    <div class="record__records-bar">
                        <div 
                            class="record__records-bar__current-bar"
                            [class.completed]="localRecords.currentVolume >= exercise.records.backoffs.best"
                            [style.width.%]="(localRecords.currentVolume / exercise.records.backoffs.best) * 100">
                        </div>
                    </div>
                </div>
            </mat-tab>
        }
        
        <mat-tab [label]="'Volume' | translate">
            @if (fullRecords.loading) {
                <div class="records__loading">
                    <mat-spinner diameter="40" mode="indeterminate" color="primary"></mat-spinner>
                </div>
            }
            
            @if (!fullRecords.loading) {
                <div class="records__highlight records__highlight--red-background">
                    <mat-icon fontSet="material-icons-outlined">emoji_events</mat-icon>
                    <h2>{{ fullRecords.backoffs[fullRecords.backoffsIndex].best }}{{ account.units }}</h2>
                    <p>{{ 'Volume for' | translate }} {{ fullRecords.backoffs[fullRecords.backoffsIndex].reps }} {{ 'rep sets' | translate }}</p>
                </div>            

                <mat-list class="records__records-list">
                    @for (item of fullRecords.backoffs; track item.reps + '-' + item.assigneddate) {
                        <mat-list-item (click)="openViewRecord(item, 'backoffs')" class="clickable">
                            <h3 matListItemTitle>{{ 'Best volume for' | translate }} {{ item.reps }} {{ 'rep sets' | translate }}: {{ item.best }}{{ account.units }}</h3>
                            <p matListItemLine>{{ 'Achieved on' | translate }} {{ formatDate(item.assigneddate) }}</p>         
                            <div matListItemMeta>
                                <mat-icon>chevron_right</mat-icon>
                            </div>               
                        </mat-list-item>
                    }
                </mat-list>
            }
        </mat-tab>        
        
        <mat-tab [label]="'Weight' | translate">
            @if (fullRecords.loading) {
                <div class="records__loading">
                    <mat-spinner diameter="40" mode="indeterminate" color="primary"></mat-spinner>
                </div>
            }
            
            @if (!fullRecords.loading) {
                <div class="records__highlight records__highlight--red-background">
                    <mat-icon fontSet="material-icons-outlined">emoji_events</mat-icon>
                    <h2>{{ fullRecords.overall[fullRecords.overallIndex].max }}{{ account.units }}</h2>
                    <p>{{ fullRecords.overall[fullRecords.overallIndex].rep }} {{ 'rep max' | translate }}</p>
                </div>            

                <mat-list class="records__records-list">
                    @for (item of fullRecords.overall; track item.rep + '-' + item.assigneddate) {
                        <mat-list-item (click)="openViewRecord(item, 'overall')" class="clickable">
                            <h3 matListItemTitle>{{ item.rep }}RM: {{ item.max }}{{ account.units }}</h3>
                            <p matListItemLine>{{ 'Achieved on' | translate }} {{ formatDate(item.assigneddate) }}</p>         
                            <div matListItemMeta>
                                <mat-icon>chevron_right</mat-icon>
                            </div>               
                        </mat-list-item>
                    }
                </mat-list>
            }
        </mat-tab>

        <mat-tab [label]="'Reps' | translate">
            @if (fullRecords.loading) {
                <div class="records__loading">
                    <mat-spinner diameter="40" mode="indeterminate" color="primary"></mat-spinner>
                </div>
            }
            
            @if (!fullRecords.loading) {
                <div class="records__highlight records__highlight--red-background">
                    <mat-icon fontSet="material-icons-outlined">emoji_events</mat-icon>
                    <h2>{{ fullRecords.amrap[fullRecords.amrapIndex].reps }} {{ 'rep' | translate }}@if (fullRecords.amrap[fullRecords.amrapIndex].reps > 1) {<span>s</span>}</h2>
                    <p>{{ 'With' | translate }} {{ fullRecords.amrap[fullRecords.amrapIndex].weight }}{{ account.units }}</p>
                </div>            

                <mat-list class="records__records-list">
                    @for (item of fullRecords.amrap; track item.weight + '-' + item.assigneddate) {
                        <mat-list-item (click)="openViewRecord(item, 'amrap')" class="clickable">
                            <h3 matListItemTitle>{{ 'Best reps with' | translate }} {{ item.weight }}{{ account.units }}: {{ item.reps }}{{ item.rpe ? ("@RPE" + item.rpe) : "" }}</h3>
                            <p matListItemLine>{{ 'Achieved on' | translate }} {{ formatDate(item.assigneddate) }}</p>         
                            <div matListItemMeta>
                                <mat-icon>chevron_right</mat-icon>
                            </div>               
                        </mat-list-item>
                    }
                </mat-list>
            }
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Close' | translate }}</button>
</mat-dialog-actions>
