.dialog-container {

}

mat-dialog-content {

}

.form-field {
  margin-bottom: 16px;

  &.form-field--exercise-select{
    margin-bottom:34px;
  }

  label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--mat-sys-on-surface);
  }

  .full-width {
    width: 100%;
  }
}


