<div class="dialog-title">
    <h2 mat-dialog-title>{{ program.name }}</h2>
    <mat-icon (click)="dismiss()" [attr.aria-label]="'Close dialog' | translate">close</mat-icon>
</div>

<mat-dialog-content class="view-program-details">
    <h4>{{ 'Created by' | translate }} {{ program.display ? program.display : program.username }}</h4>
    
    <p>
        {{ 'This program has' | translate }} <strong>{{ program.workouts.length }} {{ 'workouts' | translate }}</strong> 
        {{ 'and lasts a total of' | translate }} <strong>{{ program.duration }} {{ 'days' | translate }}</strong>. 
        {{ 'It has been added' | translate }} <strong>{{ program.added }} {{ 'times' | translate }}</strong> {{ 'by other users' | translate }}.
    </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Dismiss' | translate }}</button>
    <button mat-button color="primary" (click)="share()">{{ 'Share Program' | translate }}</button>
</mat-dialog-actions>
