



.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:20px;
        right:20px;
    }
}

.view-program-details h4{
    margin-top:0px;
}
